.container {
  // height: 100vh;
}

.noCase {
  margin: 2rem 1rem;
  text-align: center;

  h1 {
    font-weight: 600;
  }

  img {
    width: 40rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  .link {
    margin-top: 1rem !important;
    margin: 0 2rem;
    font-size: 1.1rem;
    color: white;
    background-color: #111;
    font-weight: 500;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  .logo {
    display: flex;
    text-decoration: none;
    color: #111;

    img {
      width: 5rem;
      height: 5rem;
      margin: 0 2rem;
    }

    h1 {
      line-height: 5rem;
      font-size: 2rem;
      font-weight: 700;
    }

    @media (max-width: 768px) {
      img {
        width: 4rem;
        height: 4rem;
        margin: 0 1.5rem;
      }

      h1 {
        line-height: 4rem;
        font-size: 1.5rem;
      }
    }
  }
}

.error {
  text-align: center;
  margin-top: 10rem;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin: 2rem 0;
  }

  a {
    font-size: 1.5rem;
    color: white;
    background-color: #111;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }

  img {
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
