.container {
  padding-top: 12rem;

  padding-right: calc((100vw - 70rem) / 2);
  padding-left: calc((100vw - 70rem) / 2);
}

.login {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}
